*{
    padding: 0;
    margin: 0;
}

#board{
    height: 90vh;
    width: 90vh;
    background: linear-gradient(#f9f98e , #71fd71);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(18 , 1fr);
    grid-template-rows: repeat(18,1fr);
    border-radius: 0;
}
.head{
   
    background: linear-gradient(#f15a73 , #faca70);
    border-radius: 10px;
    border: 1px solid black;

}
.snake{
    background: linear-gradient(pink , wheat);
    border-radius: 10px;
    border: 1px solid black;
    
}
.food{
   background: url("images/music/food.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

}
.body{
    background-image: url('images/snake-bg.jpg');
    background-size: 100vw  100vh;
    min-height: 100vh;
    caret-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn-left i ,.btn-up i ,.btn-down i,.btn-right i{
    font-size: 60px;
    color: #ffe77aff;
    background-color: red;
    border-radius: 50%;
}
.btn-left i:active ,.btn-up i:active ,.btn-down i:active,.btn-right i:active{
   
    font-size: 60px;
    color: #ffe77aff;
    background-color: red;
    border-radius: 50%;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}
.btn-left{
    position: absolute;
    left: 85px;
    bottom: 74px;

}
.btn-up{
    position: absolute;
    bottom: 137px;
    left: 147px;
    
}
.btn-down{
    position: absolute;
    left: 148px;
    bottom: 15px;
    
}
.btn-right{
    position: absolute;
    left: 204px;
    bottom: 74px;
    
    
}
@media screen and (max-width: 768px) {
    
#board{
    height: 50vh;
    width: 92vw;
}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
   
    #board{
        height: 60vh;
        width: 90vw;
        margin-top: 60px;
    }
}