@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Courgette&display=swap');
*{
    padding: 0;
    margin: 0;
}

#board{
    height: 90vh;
    width: 90vh;
    background: linear-gradient(#f9f98e , #71fd71);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(18 , 1fr);
    grid-template-rows: repeat(18,1fr);
    border-radius: 0;
}
.head{
   
    background: linear-gradient(#f15a73 , #faca70);
    border-radius: 10px;
    border: 1px solid black;
background-position: center;
}
.snake{
    background: linear-gradient(pink , wheat);
    /* background-color: purple; */
    border-radius: 10px;
    border: 1px solid black;
    
}
.food{
   background: url("images/music/food.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;

}
.body{
    background-image: url('images/snake-bg.jpg');
    background-size: 100vw  100vh;
    min-height: 100vh;
    caret-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn-left i ,.btn-up i ,.btn-down i,.btn-right i{
    font-size: 50px;
    color: #ffe77aff;
    background-color: red;
    border-radius: 50%;
}
.btn-left i:active ,.btn-up i:active ,.btn-down i:active,.btn-right i:active{
   
    font-size: 60px;
    color: #ffe77aff;
    background-color: red;
    border-radius: 50%;
    transform: scale(0.9);
    transition: transform 0.2s ease;
}
.btn-left{
    position: absolute;
    left: 98px;
    bottom: 104px;

}
.btn-up{
    position: absolute;
    bottom: 175px;
    left: 160px;
    
}
.btn-down{
    position: absolute;
    left: 161px;
    bottom: 40px;
    
}
.btn-right{
    position: absolute;
    left: 220px;
    bottom: 100px;
    
    
}
.score{
    position: absolute;
    top: 0;
    font-size: 40px;
    font-family: 'Alkatra', cursive;
}
@media screen and (max-width: 768px) {
    
#board{
    height: 50vh;
    width: 92vw;
    margin-bottom: 160px;
}
.head{
   
    background: linear-gradient(#f15a73 , #faca70);
    border-radius: 5px;
    border: 1px solid black;
background-position: center;
}
.body{
    background-image: url('images/snake-bg.jpg');
    background-size: 100vw  100vh;
    min-height: 100vh;
    caret-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
.snake{
    /* background: linear-gradient(pink , wheat); */
    background-color: purple;
    border-radius: 5px;
    border: 1px solid black;
    
}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
   
    #board{
        height: 60vh;
        width: 90vw;
        margin-top: 60px;
    }
}
@media screen and (min-width: 992px) {
    .score{
        position: absolute;
        left: 39px;
        top: 32px;
        font-size: 40px;
        font-family: 'Alkatra', cursive;
    }
}